@tailwind base;
@tailwind components;
@tailwind utilities;

.bgPrimaryLinearGradient {
    background: linear-gradient(90deg, #ff6d00 0%, #ff4800 100%);
}
.mainBannerShadow {
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.3));
}

.brandCardShadow {
    filter: drop-shadow(0px 10px 7px rgba(0, 0, 0, 0.2));
}

.brandCardShadow:hover {
    filter: none;
}

.footerContent {
    overflow: hidden;
    width: 100%;
    max-width: 20rem;
    padding: 1rem 0;
    max-height: 60px;
    transition: all 1s ease-in-out;
}

.footerContent.active {
    max-height: 200px;
}
.footerContent2 {
    overflow: hidden;
    width: 100%;
    max-width: 20rem;
    padding: 1rem 0;
    max-height: 60px;
    transition: all 1s ease-in-out;
}

.footerContent2.active {
    max-height: 400px;
}

.bgHalfOrange {
    background: linear-gradient(
        0deg,
        rgba(249, 115, 22, 0.5) 0%,
        rgba(249, 115, 22, 0.5) 45%,
        rgba(249, 115, 22, 0) 45%,
        rgba(249, 115, 22, 0) 100%
    );
}
.bgHalfOrangeAlpha {
    background: linear-gradient(
        0deg,
        rgba(249, 115, 22, 0.2) 0%,
        rgba(249, 115, 22, 0.2) 45%,
        rgba(249, 115, 22, 0) 45%,
        rgba(249, 115, 22, 0) 100%
    );
}
